.scroll {
    height: 100%;
    max-height: 610px;
    min-height: 610px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #f6ebfa 0%, #ffffff 30%);
}

.contentBox {
    margin-top: auto; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: start;
    justify-content: left;
}
