.scroll {
    height: 100%;
    max-height: 610px;
    min-height: 610px;
    overflow-y: auto;
    position: relative;
    
}


.backgroundLayer {
    width: 100%;
    height: 200px; 
    background: linear-gradient(to bottom, #f6ebfa 0%, #ffffff 100%);
    flex-shrink: 0; /* 스크롤 시 높이 줄어들지 않도록 */
}


.contentBox {
    margin-top: auto; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: start;
    justify-content: left;
    transform: translateY(-140px);  
    position: relative;
    margin-bottom: -140px; 
}


