.scroll {
    height: 100%;
    max-height: 750px;
    min-height: 750px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contentBox {
    margin-top: auto; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
