.inputForm {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

/* 툴바 */
.toolbar {
  border-bottom: 1px solid #eee;
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: #f8f6f6;
}

.toolbar button {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: #444;
}

.toolbar button:hover {
  color: #000;
}

/* 입력창 전체 */
.inputArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.textArea {
  padding: 12px;
  flex: 1;
  border: none;
  font-size: 15px;
  resize: none;        /* 사용자가 크기 조절 못함 */
  overflow: hidden;    /* 내부 스크롤 숨김 */   /* 최소 높이 */
  outline: none;       /* 클릭 시 파란 테두리 제거 */
}


.leftIcon,
.rightIcons {
  font-size: 20px;
  color: #555;
  cursor: pointer;
}

.leftIcon {
  border-radius: 50px;
  border: none;
  padding: 4px 5px 1px 5px;
  font-size: 18px;
}

.rightIcons {
  display: flex;
  align-items: center;
  height: 100%;
}

/* 전송 버튼 */
.submitBtnWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 5px 10px;
}

.sendBtn {
  color: rgb(210, 210, 210);
  background-color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
