*{
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    height: 100%;
    display: grid; /*✅*/
    grid-template-columns: 200px 1fr; /* 기본값 */

}

.main-container svg{
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.748);
    cursor: pointer;
}

.menu-box{
    /*width: 300px;*//*✅*/
    background-color: rgb(81, 41, 85);
    color: rgba(255, 255, 255, 0.748);
    position: relative;
    padding: 8px;
}

.icon-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.132);
    padding-bottom: 10px;
    padding-top: 5px;
}

.name-box{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.set-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 10px;
}

.set-icons div{
    border: 1px solid rgba(255, 255, 255, 0.346);
    border-radius: 7px;
    width: 29px;
    padding: 3px 5px 0 5px;
    text-align: center;
}

.set-icons svg{
    width: 15px;
}

.sub-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.sub-menu li{
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 3px 10px;
    margin-top: 10px;
}

.works, .path-btn{
    cursor: pointer;
}

.path-btn:hover,
.works:hover{
    background-color: rgba(255, 255, 255, 0.082);
}

.path-btn.active , .path-btn.active svg{
 background-color: #f7edfe;
 color:  rgb(81, 41, 85);
}
.sub-menu svg{
    padding-top: 2px;
    padding-bottom: 0;
}


.drop-down{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.drop-down div{
    gap: 10px;
    padding: 3px 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.748);
    border-radius: 7px;
}


.drop-down svg{
    padding-top: 5px;
    padding-bottom: 0;
}


/*리사이징*//*✅*/
.resize{
    width: 4px;
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.resize:hover{
    background-color: rgb(113, 172, 223);
}