/* MainPageStyle.module.css */

* {
    margin: 0;
    box-sizing: border-box;
}

/* 전체 컨테이너 */
.mainContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

/* 사이드바 전용 SVG 스타일 */
.sidebarIcon {
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.748);
    cursor: pointer;
}

/* 사이드바 */
.menuBox {
    background-color: rgb(81, 41, 85);
    color: rgba(255, 255, 255, 0.748);
    position: relative;
    padding: 8px;
}

/* 상단 */
.iconBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.132);
    padding-bottom: 10px;
    padding-top: 5px;
}

.nameBox {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.setIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 10px;
}

.setIcons div {
    border: 1px solid rgba(255, 255, 255, 0.346);
    border-radius: 7px;
    width: 29px;
    padding: 3px 5px 0 5px;
    text-align: center;
}

.setIcons svg {
    width: 15px;
}

/* 메뉴 */
.subMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.subMenu li {
    border-radius: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 3px 10px;
    margin-top: 10px;
}

.works,
.pathBtn {
    cursor: pointer;
}

.pathBtn:hover,
.works:hover {
    background-color: rgba(255, 255, 255, 0.082);
}

/* active 상태 */
.active,
.active svg {
    background-color: #f7edfe !important;
    color: rgb(81, 41, 85) !important;
}

.subMenu svg {
    padding-top: 2px;
}

/* 드롭다운 */
.dropDown {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropDown div {
    gap: 10px;
    padding: 3px 10px;
    color: rgba(255, 255, 255, 0.748);
    border-radius: 7px;
}

.dropDown svg {
    padding-top: 5px;
}

/* 리사이즈 */
.resize {
    width: 4px;
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.resize:hover {
    background-color: rgb(113, 172, 223);
}

/* content 영역 */
.contents {
    width: 100%;
    height: 100%;
}
