.pageHeaderContainer {
    width: 100%;
    border: 0.5px solid gainsboro;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.pageName{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hashTag{
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 23px;
}

.btnsBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.headerBtn {
    border: 1px solid #ececec;
    padding: 4px 5px 1px 5px;
    cursor: pointer;
    border-radius: 10px;
}

.dotBtn{
    cursor: pointer;
}

.headerIcon {
    width: 20px;
    height: 20px;
    color: black;
}

.inviteBtn {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #aeaeae;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.personIcon{
    font-size: 19px;
    padding-bottom: 2px;
}
