.postContainer{
    width: 100%;
    border-top: 1px solid gainsboro;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
}

.profileImg{
    width: 40px;
    border-radius: 10px;
    border: 1px solid rgba(237, 236, 236, 0.787);
}

.nickname{
    font-weight: bold;
}