@charset 'utf-8';

*{
    margin: 0;
    box-sizing: border-box;
}

.welcomeContainer {
  height: 100vh;
  background: linear-gradient(to bottom, #f6ebfa 0%, #ffffff 30%);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: left;
  gap: 10px;
}

.welcomeIcon{
   width: 32px;
}