@charset 'utf-8';

*{
    margin: 0;
    box-sizing: border-box;
}

.welcomeContainer{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: left;
  gap: 10px;
  margin-top: 140px;
}

.welcomeIcon{
   width: 32px;
}

.introduceBox{
  font-size: 25px;
}

